/* General Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.dash-tabs {
    margin-top: 20px;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}

.tab-content h2 {
    color: #333;
}

.card {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* General styles for calendar container */
.calendar-container {
    padding: 10px;
    /* Puedes ajustar este padding si deseas más espacio alrededor del gráfico */
}

/* Header Row - Puedes conservar esto en caso de agregar una cabecera encima del gráfico */
.calendar-header-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/* Mejorar visibilidad en dispositivos pequeños */
@media screen and (max-width: 768px) {
    .calendar-header-row {
        flex-direction: column;
        align-items: center;
    }
    .calendar-container {
        gap: 10px;
    }
}
